# Shared
NODE_ENV=development

# Backend
PORT=4000
MONGODB_URI=
JWT_SECRET=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
RAZORPAY_KEY=
RAZORPAY_SECRET=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_BUCKET=
R2_ACCOUNT_ID=
R2_PUBLIC_URL=

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_RAZORPAY_KEY=
